*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.border-bottom,.border-top,.border-left,.border-right {
    position: relative;
}

.border-bottom::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    background-color: #eee;
    transform: scale(0.5);
    bottom: 0;
    left: -50%;
}

.border-top::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    background-color: #eee;
    transform: scale(0.5);
    top: 0;
    left: -50%;
}

.border-left::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 200%;
    background-color: #eee;
    transform: scale(0.5);
    left: 0;
    top: -50%;
}

.border-right::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 200%;
    background-color: #eee;
    transform: scale(0.5);
    right: 0;
    top: -50%;
}

.padding{
    padding: 0 0.2rem;
}

.resetpass .van-nav-bar__text{
        color: #999;
    }

.userinfo .van-cell__title {
    text-align: right
}
.userinfo .van-cell {
    padding: 0;
}
.userinfo .van-cell::after {
    border: none;
}
.userinfo .van-popup--center{
    width: 90%;
    border-radius: 0.3rem;
}

.setUser .van-cell{
    padding: 0;
    text-align: right;
}
.setUser .van-cell::after{
    border: none;
}
/* 改变vant地址默认样式 */
/* .setUser .van-popup--center {
    width: 100%;
    position: fixed;
    bottom: 0 !important;
} */

/* 留言文本样式 */
.feedback .van-field__control{
    height: 3.33rem !important;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 0.1rem;
    padding: 0.2rem;
    color: #999;
}
.feedback .van-cell {
    padding: 0.2rem 0.3rem;
    border: none;
}
.feedback .van-cell::after{
    display: none;
}
.feedback .van-field__word-limit {
    color: #999;
}