body,html,#app{
    background: #f0f2f5;
    // height: 100%;
    // font-size: 0.12rem;
}

/* 小框框 */
.index-kinds{
    width:100%;
    // height:2.06rem;
    height:1.2rem;
    // background:pink;
  
    ul{
        width: 100%;
        height: 2.06rem;
        position: absolute;
        top: 3.34rem;
        display: flex;
    justify-content: space-around;
        li{
            
            img{
                margin-top: 0.5rem;
            }
            width: 2.06rem;
            height: 2.06rem;
            background: white;
            border-radius: 0.2rem;
            text-align: center;
            line-height: 0.8rem;
        }
    }
}
// 分类标题
.op-title{
    font-size: 0.30rem;
    border-left: solid 0.08rem #eb6100;
    margin-left: 0.28rem;
    padding-left: 0.14rem;
    margin-top: 0.5rem;
}
.oto-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0.3rem;
}
// 老师分类
.oc-item{
    width: 7.104rem;
    height: 1.6208rem;
    background: white;
    img{
        
        width:0.76rem;
        height:0.76rem;
        float: left;
        border-radius:50%;
        margin-top: 0.36rem;
        margin-left: 0.26rem;
    }
    ul{
        width: 80%;
        float: left;
        margin-top: 0.36rem;
        li{
            width: 100%;
            font-size: 0.30rem;
            margin-left: 0.24rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
        }
    }
}


// 方盒子
.box-f{
    width: 100%;    
    display: flex;
    justify-content: space-around;
    // background: pink;
   .box-f-z{
       width: 7.104rem;
    height: 3.5rem;
    background: white;
    margin-top: 0.2rem;
    border-radius: 0.15rem;
    p{
        width: 90%;
    }
    span{
        padding-left: 0.3rem;
        color: #b7b7b7;
    }
    .box-f-ul1{
        width: 100%;
        float: left;
        margin-top: 0.4rem;
        li{
            float: left;
            img{
                width:0.76rem;
                height:0.76rem;
                border-radius: 50%;
            }
            font-size: 0.12rem;
            text-align: center;
            line-height: 0.8rem;
            padding-left: 0.3rem;
            color: #b7b7b7;
        }
    }
    .box-f-ul2{
        width: 100%;
        float: left;
        float: left;
        display: flex;
        justify-content: space-between;

        li{
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            float: left;
            
        }
        .baoming{
            color: #b7b7b7
        }
    }
   }
}
// 方盒子

// 联系
.contact{
    width: 1.2rem;
    height: 1.2rem;
    float: left;
    position: fixed;
    background: #0088dd;
    bottom: 2rem;
    right: 0.3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1rem;
    .van-icon{
        color: white;
        font-size: 50%;
    }
}

// 联系

.van-popup-show{
    width: 80%;
    height: 8rem;
    border-radius: 5%;
    background-image: url('../img/jun/fj.png');
    background-repeat: repeat-x;
    background-size: 100%;
    background-position: 0rem 1rem;
    text-align: center;
    .show-x{
        float: left;
        font-size: 0.4rem;
        width: 95%;
        text-align: right;
        margin-top: 0.4rem;
     
    }  
     .van-button{
            background: #eb6100;
            border-radius: 0.64rem;
            color: white;
        }
}

.message-menu{
    width: 100%;
    height: 1rem;
    background: #0088dd;
    line-height: 1rem;
   
    span{
        float: left;
        font-size: 0.24rem;
        color: white;
        padding-left: 0
    }
}


// 错题练习
.Wrong{
    float: left;
    width: 95%;
    height: 4rem;
    background: white;
  margin: 0.2rem;
  border-radius: 2%;
  font-size: 0.24rem;
  .Wrong-div{
      display: flex;
      justify-content: space-around;
   
  } 
  .Wrong-but{
        float: right;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        width: 1.5rem;
        height: 0.8rem;
        border-radius: 1rem;
        border: purple 0.05rem solid;
        color: purple;
        background: none;
    }
}
.Wrong1{
    float: left;
    width: 95%;
    height: 3rem;
    background: white;
  margin: 0.2rem;
  border-radius: 2%;
  font-size: 0.24rem;
  .Wrong-div{
      display: flex;
      justify-content: space-around;
   
  } 
  .Wrong-but{
        float: right;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        width: 1.5rem;
        height: 0.8rem;
        border-radius: 1rem;
        border: purple 0.05rem solid;
        color: purple;
        background: none;
    }
}
// 错题练习


.Detailspage{
    
    .blue{
        width: 100%;
        height: 2rem;
        background: #0088dd;
        float: left;
    }
    .follow{
        float: left;
        width: 100%;
        height: 1.2rem;
        // background: pink;
        display: flex;
        justify-content: space-around;
    }
    .follow1{
        position: absolute;
        width: 80%;
        height: 2rem;
        background: white;
        top: 1rem;
        border-radius: 0.1rem;
        li:nth-of-type(1){
            margin-top: -0.2rem;
            padding-left: 0.3rem;
        }
        li:nth-of-type(3){
            margin-top: -0.2rem;
            // padding-left: 0.3rem;
        }
        img{
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
           
        }
        ul{
            height: 100%;
            width: 100%;
           padding-top: 10%
        }
        li{
            float: left;
            width: 2rem;
            height: 1.5rem;
            // border: 1px solid #000;
        //    line-height: 2rem;
            button{
                width: 1.5rem;
                height: 0.7rem;
                border-radius: 1rem;
                color: orangered;
                border: none;
            }
        }
    }
    .follow2{
        margin-left: 10%;
        float: left;
        width: 80%;
        height: 2rem;
        background: white;
        border-radius: 0.1rem;
        
    }
}
.van-tab__pane{
    margin-top: -0.4rem;
}